.auth-card {
    width: 30dvw;
    height: fit-content;
}

@media screen and (max-width: 548px) {
    .auth-card {
        width: 85dvw;
        height: fit-content;
    }
}

.continue-box {
    max-width: 350px;
    transition: all 0.3s ease;
}

/* .continue-box:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
} */

#continueBtn {
    border-radius: 10px;
}

#removeAccount {
    background: none;
    border: none;
    transition: color 0.2s ease;
}

#removeAccount:hover {
    color: #c82333;
    text-decoration: underline;
}
